@import "reset"
@import "font"
@import "base"

@import '@imengyu/vue3-context-menu/lib/vue3-context-menu.css'

.mx-context-menu-item .label
  font-size: 12px

// TODO: this doesn't work
.mx-right-arrow
  width: 12px
  height: 12px
